* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 선택사항 탭키 누를시 포커스에 검은테두리 보기싫으면 적용 */
  outline-style: none;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
}

.wrap {
}
