.live {
  position: relative;
}
.layout {
  /* 영역 가운데 정렬 */
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  /* background-color: red; */
}
.live_top {
  padding-top: 65px;
  padding-bottom: 25px;
}
.live_top_title {
  display: block;
  width: 100%;
}
.title {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  /* 상관없이 가운데 정렬 */
  /* display: flex;
  justify-content: center; */

  /* 글자일경우 이걸로도 가운데정렬 가능 */
  text-align: center;
}
.subtitle {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400px;
  color: rgba(18, 18, 18, 0.5);
  text-align: center;
}
.live_top_category {
  display: flex;
  justify-content: center;
  width: 100%;
}
.live_button_list {
  display: flex;
  gap: 6px;
}
.live_button_list li {
}
.live_button_list li button {
  padding: 0 20px;
  border: 1px solid #e5e5e5;

  /* padding: 12px 21px; */
  height: 44px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 22px;
}
.live_button_list li button:active {
  opacity: 0.6;
}
.live_focus {
  background-color: #333 !important;
  font-weight: 600;
  color: #fff !important;
}
.live_bottom {
  display: block;
  width: 100%;
}
.live_slide_wrap {
  display: block;
  position: relative;
  width: 100%;
  /* min-width: 230px ;
  min-height: 221px ; */
}
/* 투어 슬라이드 */
.live_slide {
  display: flex;
  gap: 26px;
}
/* 슬라이드 목록 */
.live_item {
  display: block;
  overflow: hidden;
  height: 365px;

  border-radius: 12px;
}
/* 슬라이드 이미지 */
.live_item_image {
  width: 100%;
  height: 255px;
}
.live_item_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 슬라이드 설명 */
.live_item_info {
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-top: none;
  position: relative;
  height: calc(100% - 255px);
  border-radius: 0px 0px 12px 12px;
}
.live_item_info .live_city {
  padding: 5px 10px;
  position: absolute;
  top: 0px;
  left: 20px;
  background-color: #4154ff;
  font-size: 14px;
  font-weight: 700px;
  color: #fff;
  transform: translateY(-50%);
  border-radius: 4px;
}
.live_item_info .live_sale {
  font-size: 15px;
  font-weight: 400;
  color: rgb(65, 84, 255);
}
/* 한줄 말줄임 ... 은 css로 작업합니다. */
/*  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;   */
/* 한줄 이상 말줄임 ... 은 css로 작업합니다. */
.live_item_info .live_item_title {
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.live_item_info .live_price {
  font-size: 16px;
  font-weight: 400;
  color: #111;
}
.live_item_info .live_price b {
  font-size: 20px;
  font-weight: 700;
}
.live_slide_prev img {
  transform: rotate(180deg);
}
/* 이전버튼 */
.live_slide_prev {
  border: 1px solid #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 8px 0px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;

  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.9);

  cursor: pointer;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 24px;
}
/* 다음버튼 */
.live_slide_next {
  border: 1px solid #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 8px 0px;
  position: absolute;
  top: 50%;
  right: 0;

  z-index: 100;
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.9);

  cursor: pointer;
  transform: translateY(-50%) translateX(50%);
  border-radius: 24px;
}
/* 투어 홈 바로가기 */
.live_more {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.live_more_bt {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 0 39px;
  border: 1px solid #e5e5e5;
  height: 56px;
  background-color: #fff;

  font-size: 16px;
  font-weight: 700;
  color: #333;
  border-radius: 38px;
}
